@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /* color: rgb(var(--color));
  background-color: rgb(var(--background)); */
  overflow-x: hidden;
  font-variant-numeric: lining-nums; /* Numbers all lying on the same baseline (i.e. which is not the case by default with 'Raleway') */
}

#button-facebook:hover svg,
#button-instagram:hover svg,
#button-twitter:hover svg,
#button-youtube:hover svg {
  transform: scale(1.25)
}

#button-facebook::before,
#button-instagram::before,
#button-twitter::before,
#button-youtube::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(250, 204, 21, 1);
  border-radius: 50%;
  z-index: -1;
}

#button-facebook:hover::before,
#button-instagram:hover::before,
#button-twitter:hover::before,
#button-youtube:hover::before {
  animation: translation linear .3s normal forwards;
}

@keyframes translation {
  0% {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
  }
  25% {
    width: 0.55rem;
    height: 0.55rem;
    transform: translate3d(-0.05rem, -0.05rem, 0);
  }
  50% {
    width: 1.10rem;
    height: 1.10rem;
    transform: translate3d(-0.10rem, -0.10rem, 0);
  }
  75% {
    width: 1.65rem;
    height: 1.65rem;
    transform: translate3d(-0.15rem, -0.15rem, 0);
  }
  100% {
    width: 2.5rem;
    height: 2.5rem;
    transform: translate3d(-0.35rem, -0.35rem, 0);
  }
}
