@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --sb-track-color-light: #ffffff;
  --sb-thumb-color-light: #1d4ed8;
  --sb-track-color-dark: #172554;
  --sb-thumb-color-dark: #38bdf8;
  --sb-size: 10px;
}

body {
  max-width: 1920px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow-x: hidden;
  font-variant-numeric: lining-nums; /* Numbers all lying on the same baseline (i.e. which is not the case by default with 'Raleway') */
}



#button-facebook:hover svg,
#button-instagram:hover svg,
#button-twitter:hover svg,
#button-youtube:hover svg {
  transform: scale(1.25)
}

#button-facebook::before,
#button-instagram::before,
#button-twitter::before,
#button-youtube::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(250, 204, 21, 1);
  border-radius: 50%;
  z-index: -1;
}

#button-facebook:hover::before,
#button-instagram:hover::before,
#button-twitter:hover::before,
#button-youtube:hover::before {
  animation: translation linear .3s normal forwards;
}

@keyframes translation {
  0% {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
  }
  25% {
    width: 0.55rem;
    height: 0.55rem;
    transform: translate3d(-0.05rem, -0.05rem, 0);
  }
  50% {
    width: 1.10rem;
    height: 1.10rem;
    transform: translate3d(-0.10rem, -0.10rem, 0);
  }
  75% {
    width: 1.65rem;
    height: 1.65rem;
    transform: translate3d(-0.15rem, -0.15rem, 0);
  }
  100% {
    width: 2.5rem;
    height: 2.5rem;
    transform: translate3d(-0.35rem, -0.35rem, 0);
  }
}

@media screen and (min-width: 1024px) {

  /**** Scrollbars ****/
  ::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
  }
  
  :root[data-theme="light"] ::-webkit-scrollbar-track {
    background: var(--sb-track-color-light);
    border-radius: 10px;
    border: 5px solid transparent;
  }
  
  :root[data-theme="light"] ::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color-light);
    border-radius: 10px;
  }
  
  :root[data-theme="dark"] ::-webkit-scrollbar-track {
    background: var(--sb-track-color-dark);
    border-radius: 10px;
  }
  
  :root[data-theme="dark"] ::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color-dark);
    border-radius: 10px;
  }
}
